/* About START */
.about-wrapper {
  margin-top: 5rem;
  width: 75%;
}

#javad-photo {
  float: left;

  border-radius: 0.5rem;
  margin: 0 1rem 0 0;

  width: 20vw;
  min-width: 200px;
}

.about-wrapper p {
  display: flex;

  text-align: justify;

  font-size: 1.25rem;

  margin: 0;
}

@media screen and (max-width: 479px) {
  /* start of phone styles */

  .about-wrapper {
    justify-content: center;
    flex-direction: column;
  }
}
/* About END */
