/* About START */

#about-head {
    display: flex;

    justify-content: center;
    align-items: center;

    padding-top: 3rem;
}

#about-head h1 {
    font-family: "Spartan";
    font-size: 3rem;
    user-select: none;
    text-shadow: -1px 0 red, 0 1px green, 1px 0 blue, 0 -1px yellow;
}

#about {
    display: flex;

    justify-content: center;

    width: 100%;

    background-color: rgba(236, 255, 255, 0.9);
}

.about-wrapper {
    margin-top: 5rem;
    width: 75%;
}

#javad-photo {
    float: left;

    border-radius: 0.5rem;
    margin: 0 1rem 0 0;

    width: 20vw;
    min-width: 200px;
}

.about-wrapper p {
    text-align: justify;

    font-size: 1.25rem;

    margin: 0;
}

/* About END */

/* Social START */

#social-head {
    display: flex;

    justify-content: center;
    align-items: center;

    margin-top: 15vh;
    padding-top: 10rem;
}

#social-head h1 {
    font-family: "Spartan";
    font-size: 3rem;
    user-select: none;
    text-shadow: -1px 0 red, 0 1px green, 1px 0 blue, 0 -1px yellow;
}

#social {
    display: flex;
    flex-direction: row;

    height: 100px;
    width: 100vw;

    justify-content: center;
    align-items: center;

    background-color: rgba(236, 255, 255, 0.9);
}

#social a {
    margin: 0 10px 0 10px;
    scale: 0.75;
    transition: 0.5s;
}

#social svg {
    height: 80px;
}

#social a:hover {
    scale: 1;
    animation: bounce 3s infinite linear;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    33% {
        transform: translateY(5px);
    }

    66% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 500px) {
    .about-wrapper {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 500px) {
    #javad-photo {
        float: none;

        margin: 0 0 1rem 0;
    }
}

/* Social END */
