/* About START */

#contact-head {
    display: flex;

    justify-content: center;
    align-items: center;

    padding-top: 3rem;
}

#contact-head h1 {
    font-family: "Spartan";
    font-size: 3rem;
    user-select: none;
    text-shadow: -1px 0 red, 0 1px green, 1px 0 blue, 0 -1px yellow;
}

#contact {
    display: flex;

    justify-content: center;

    width: 100%;

    background-color: rgba(236, 255, 255, 0.9);
}

.contact-wrapper {
    margin-top: 5rem;
    width: 75%;
}

#javad-photo {
    float: left;

    border-radius: 0.5rem;
    margin: 0 1rem 0 0;

    width: 20vw;
    min-width: 200px;
}

.about-wrapper p {
    text-align: justify;

    font-size: 1.25rem;

    margin: 0;
}

/* About END */
