/* Hero START */

#hero {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-top: 0px;

    width: 100vw;
    height: 100vh;

    background-color: rgba(236, 255, 255, 0.9);

    z-index: 1;
}

#hero * {
    transition: 3s;
}

.hero-wrapper {
    font-family: "Ubuntu";

    padding: 0;
    margin: 0;

    height: 80%;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;

    text-align: center;

    animation: tilt 5s infinite linear;
}

@keyframes tilt {
    0% {
        transform: rotatex(0deg);
    }
    33% {
        transform: rotatex(10deg);
    }

    66% {
        transform: rotatex(-10deg);
    }
    100% {
        transform: rotatex(0deg);
    }
}

.introduction {
    font-family: "Ubuntu";

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    height: 20vh;
    width: 100vw;
}

.introduction h1 {
    font-size: 3rem;

    font-weight: lighter;

    letter-spacing: 1.5vw;

    user-select: none;

    margin: 100px 0 50px 0;
}

.introduction h2 {
    user-select: none;
}

.hero-exp h1 {
    margin: 100px 0 0 0;
    font-size: 3rem;

    user-select: none;
}

.hero-exp h2 {
    letter-spacing: 10px;
    user-select: none;
}

#hero h1 {
    text-shadow: -1px 0 red, 0 1px green, 1px 0 blue, 0 -1px yellow;
}

/* Hero END */

/* Skip Hero START */

.skip-hero {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    align-self: center;

    bottom: 10px;

    width: 10vw;
    height: 150px;

    z-index: 2;
}

.skip-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background-color: rgba(172, 255, 47, 0.692);
    border: solid 1px rgb(223, 223, 223);

    width: 50px;
    height: 50px;

    transition: 0.5s;
}

.skip-button:hover {
    background-color: white;
    scale: 1.25;
    border: solid 1px rgba(172, 255, 47, 0.932);
    box-shadow: 0 0 25px greenyellow;
}

.skip-button p {
    font-weight: bolder;
    font-family: "Spartan";
    font-size: 0.75rem;
    user-select: none;

    color: rgb(155, 155, 155);

    padding-top: 17px;
    margin-top: 0;

    transition: 0.5s;
}

.skip-button:hover p {
    color: gray;
}

/* Skip Hero END */

/* Stack START */

#stack-head {
    display: flex;

    justify-content: center;
    align-items: center;

    margin-top: 15vh;
    padding-top: 10rem;
}

#stack-head h1 {
    font-family: "Spartan";
    font-size: 3rem;
    user-select: none;
    text-shadow: -1px 0 red, 0 1px green, 1px 0 blue, 0 -1px yellow;
}

.stack {
    display: flex;
    flex-direction: row;

    height: 100px;
    width: 100vw;

    justify-content: center;
    align-items: center;

    background-color: rgba(236, 255, 255, 0.9);
}

.stack div {
    margin: 0 3rem 0 3rem;

    transition: 0.5s;
}

.stack svg {
    height: 80px;
}

#javascript {
    position: relative;
    top: 0;

    margin-top: -60px;
    margin-left: 15px;
    margin-right: 0px;
    padding: 0;

    height: 50px;
    background-color: black;
    border: solid 1px black;
    width: 50px;

    z-index: -1;
}

.icon-alt-1 {
    animation: sprite1 25s infinite linear;

    height: 80px;
}

@keyframes sprite1 {
    0% {
        transform: translateY(10px);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    75% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

.icon-alt-2 {
    display: flex;
    flex-direction: column;

    height: 80px;

    animation: sprite2 25s infinite linear;
}

@keyframes sprite2 {
    0% {
        transform: translateY(-10px);
    }
    25% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

/* Stack END */

/* Projects START */

#projects-head {
    display: flex;

    justify-content: center;
    align-items: center;

    margin-top: 15vh;
    padding-top: 10rem;
}

#projects-head h1 {
    font-family: "Spartan";
    font-size: 3rem;
    user-select: none;
    text-shadow: -1px 0 red, 0 1px green, 1px 0 blue, 0 -1px yellow;
}

#projects {
    display: flex;
    flex-direction: column;

    padding-bottom: 2rem;

    height: auto;
    width: 100vw;

    justify-content: center;
    align-items: center;

    background-color: rgba(236, 255, 255, 0.9);
}

#projects p {
    font-size: 1.25rem;
    text-align: center;

    width: 90vw;

    margin-top: 2rem;
    margin-bottom: 0;
}

/* Projects END */

/* Social START */

#connect {
    display: flex;

    justify-content: center;
    align-items: center;

    margin-top: 15vh;
    padding-top: 10rem;
}

#connect h1 {
    font-family: "Spartan";
    font-size: 3rem;
    user-select: none;
    text-shadow: -1px 0 red, 0 1px green, 1px 0 blue, 0 -1px yellow;
}

#social {
    display: flex;
    flex-direction: row;

    height: 100px;
    width: 100vw;

    justify-content: center;
    align-items: center;

    background-color: rgba(236, 255, 255, 0.9);
}

#social a {
    margin: 0 10px 0 10px;
    scale: 0.75;
    transition: 0.5s;
}

#social svg {
    height: 80px;
}

#social a:hover {
    scale: 1;
    animation: bounce 3s infinite linear;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    33% {
        transform: translateY(5px);
    }

    66% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* Social END */
