/* Hero START */

#hero {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-top: 0px;

    width: 100%;
    height: 100vh;

    background-color: rgba(236, 255, 255, 0.9);

    z-index: 1;
}

.hero-wrapper {
    font-family: "Ubuntu";

    padding: 0;
    margin: 0;

    height: 80%;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;

    text-align: center;

    animation: growShrink 20s infinite ease-in-out;
}

@keyframes growShrink {
    0% {
        scale: 100%;
    }
    50% {
        scale: 105%;
    }
    100% {
        scale: 100%;
    }
}

.introduction {
    font-family: "Ubuntu";

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    height: 20vh;
    width: 100%;
}

.introduction h1 {
    font-size: 3rem;

    font-weight: lighter;

    letter-spacing: 1.25vw;

    user-select: none;

    margin: 100px 0 50px 0;
}

.introduction h2 {
    user-select: none;
}

.hero-exp h1 {
    margin: 100px 0 0 0;
    font-size: 3rem;

    user-select: none;
}

.hero-exp h2 {
    letter-spacing: 10px;
    user-select: none;
}

#hero h1 {
    text-shadow: -1px 0 red, 0 1px green, 1px 0 blue, 0 -1px yellow;
}

/* Hero END */

/* Skip Hero START */

.skip-hero {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    align-self: center;

    bottom: 10px;

    width: 10vw;
    height: 150px;

    z-index: 2;
}

.skip-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background-color: rgba(172, 255, 47, 0.692);
    border: solid 1px rgb(223, 223, 223);

    width: 50px;
    height: 50px;

    transition: 0.5s;
}

.skip-button:hover {
    background-color: white;
    scale: 1.25;
    border: solid 1px rgba(172, 255, 47, 0.932);
    box-shadow: 0 0 25px greenyellow;
}

.skip-button p {
    font-weight: bolder;
    font-family: "Spartan";
    font-size: 0.75rem;
    user-select: none;

    color: rgb(155, 155, 155);

    padding-top: 17px;
    margin-top: 0;

    transition: 0.5s;
}

.skip-button:hover p {
    color: gray;
}

/* Skip Hero END */

/* Stack START */

#stack-head {
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;

    margin-top: 15vh;
    padding-top: 10rem;
}

#stack-head h1 {
    font-family: "Spartan";
    font-size: 3rem;
    user-select: none;
    text-shadow: -1px 0 red, 0 1px green, 1px 0 blue, 0 -1px yellow;
}

.stack {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    height: auto;
    width: 100%;
    padding: 1rem 0;

    justify-content: center;
    align-items: center;

    background-color: rgba(236, 255, 255, 0.9);
}

.stack div {
    transition: 0.5s;
    margin: 1rem 0;
}

.stack svg {
    height: 80px;
}

.icon-alt-1 {
    display: flex;
    justify-content: center;
    align-items: center;

    animation: sprite1 25s infinite linear;

    height: 80px;
}

@keyframes sprite1 {
    0% {
        transform: translateY(10px);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    75% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

.icon-alt-2 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;

    animation: sprite2 25s infinite linear;
}

@keyframes sprite2 {
    0% {
        transform: translateY(-10px);
    }
    25% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

/* Stack END */

/* Projects START */

#projects-head {
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;

    margin-top: 15vh;
    padding-top: 10rem;
}

#projects-head h1 {
    font-family: "Spartan";
    font-size: 3rem;
    user-select: none;
    text-shadow: -1px 0 red, 0 1px green, 1px 0 blue, 0 -1px yellow;
}

#projects {
    display: flex;
    flex-direction: column;

    height: auto;
    width: 100%;

    justify-content: center;
    align-items: center;

    background-color: rgba(236, 255, 255, 0.9);
}

#projects p {
    font-size: 1.25rem;
    text-align: center;

    margin: 0;

    width: 90vw;
}

.project {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin: 0.5rem;
}

/* Projects END */
