@import url('https://fonts.googleapis.com/css?family=Hind+Guntur|IBM+Plex+Mono&display=swap');

/*
font-family: 'IBM Plex Mono', monospace;
font-family: 'Hind Guntur', sans-serif;
*/


html {
    
}

body {

    height: 100vh;
    margin: 0;
    padding: 0;
    background: #FAEDE4;

    overflow-y: auto;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style-type: none;
    display: flex;
}

h1 {
    display: flex;

    text-align: center;
    align-items: center;
    margin: 1rem 0 0 0;

    font-family: 'Hind Guntur', sans-serif;
    color: #3A5C57;
}

.nav__bar {
    display: flex;
    grid-row: 1 / 2;
    grid-column: 1 / 3;

    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#6E8481, #FAEDE4);

    text-align: center;

    box-shadow: 0 0 2rem #6E8481;
}

.nav__logo {
    display: flex;

    padding: 0.5rem;

    font-size: 4rem;
}

.nav__links {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 1.2rem;
}

.nav__buttons {
    display: inline-block;
    background: linear-gradient(#D3BFB0, #FAEDE4);

    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #C7CDCC;
    box-shadow: 0.5rem 0.5rem 1rem #6E8481;

    font-family: 'IBM Plex Mono', monospace;
    color: #3A5C57;
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-rows: auto 1fr;

    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.review{
    grid-row: 2 / 3;
    grid-column: 1 / 3;

    overflow-y: auto;
    overflow-x: hidden;
    
    width: fit-content;
    height: 100%;
    padding: 2rem;

    /* This is to put a grid... in another grid */
    display: block;

    font-family: 'Hind Guntur', sans-serif;
    color: #3A5C57;
}

.main-content {
    grid-row: 2 / 3;
    grid-column: 1 / 3;

    overflow-y: auto;
    overflow-x: hidden;
    
    height: 100%;

    padding: 1rem;

    /* This is to put a grid... in another grid */
    display: grid;
    grid-template-rows: min-content min-content min-content;
    
    justify-items: center;

    font-family: 'Hind Guntur', sans-serif;
    color: #3A5C57;
}

/* This section is for home/main page*/
#jphoto {
    max-height: 40vh;
    padding: 0;
    border-radius: 2rem;
    border: 0.5rem solid #D3BFB0;
    margin: 2rem 0.5rem 2rem 0.5rem; 

    border: 1px solid #C7CDCC;
    box-shadow: 0.5rem 0.5rem 1rem #6E8481;
}

.introduction {
    text-align: justify;
    font-family: 'Hind Guntur', sans-serif;
    font-size: 1.5rem;

    max-width: 100vh;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;

    margin: 0;

    grid-row: 3 / 4;
    grid-column: 1 / 3;

    padding: 0 0.5rem 0 0.5rem;

    background: linear-gradient(#FAEDE4, #6E8481);
}

.social-media__panel {
    display: flex;

    text-align: center;
    font-family: 'Hind Guntur', sans-serif;

    background: linear-gradient(#6E8481, #FAEDE4);
    padding: 0.5rem;
    margin: 0.5rem;  
    border-radius: 0.5rem;
    border: 1px solid #C7CDCC;
    box-shadow: 0.5rem 0.5rem 1rem #3A5C57;
}

.social-media--icon {
    grid-column: 1 / 3;

    margin-left: 0.25rem;
    margin-right: 0.25rem;
    
    filter: invert(32%) sepia(10%) saturate(1200%) hue-rotate(122deg) brightness(96%) contrast(89%);
}

/* Allows SVG to be clickable */
object {
    pointer-events: none;
}

.contact-text {
    width: 75vw;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.inbound-form-wrapper {
    min-width: 50vw;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 0.5rem;
 
    background-color: #C7CDCC; 
}

/* This section is for the education page */
.education__grid {
    grid-row: 2 / 3;
    grid-column: 1 / 3;

    overflow-y: auto;
    overflow-x: auto;
    
    padding: 1rem;
    grid-gap: 1rem;

    /* This is to put a grid... in another grid */
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    
    height: 95%;
    grid-auto-columns: auto;

    
}

.education__grid div {
    min-width: 300px;
    height: max-content;

    background-color: #FFFBF8;
    border: 1px solid #C7CDCC;
    box-shadow: 0.5rem 0.5rem 1rem #6E8481;
    border-radius: 0.5rem;

    padding: 0.5rem;
    text-align: center;
    font-family: 'Hind Guntur', sans-serif;
}

.education__grid h1 {
    font-size: 1.5rem;
    font-family: 'IBM Plex Mono', monospace
}

.education__grid img {
    justify-self: center;

    width: 100%;


    border-radius: 0.5rem;
    background-color: #FFFBF8;
    box-shadow: 0.5rem 0.5rem 1rem #6E8481;
}


/* This section is to style the professional history page */
.prof-content {
    grid-row: 2 / 3;
    grid-column: 1 / 3;

    overflow-y: auto;
    overflow-x: auto;
    height: 100%;
    
    padding: 1rem;

    display: grid;
    width: 100vw;
    justify-self: center;
    
}

.prof-content, ul  {
    padding: 0;
}

.experience__top {

    display: flex;
    justify-self: center;
    text-align: center;

    margin: 1rem;
    padding: 0;
    
    font-family: 'Hind Guntur', sans-serif;
    color: #3A5C57;
    font-size: 3rem;
}

.experience {
    
    background-color: #FFFBF8;
    box-shadow: 0.5rem 0.5rem 1rem #6E8481;
    border-radius: 0.5rem;
    
    justify-self: center;

    font-family: 'Hind Guntur', sans-serif;
    margin: 1rem;

    text-emphasis: none;
}

.experience, ul {
    width: 75vw; 
}

.experience, h1, h2, h3, div {
    grid-template-rows: repeat(4, max-content);
    height: min-content;
    padding: 0 0.5rem 0 0.5rem;
}

.experience--head {
    border-bottom: solid 1px #C7CDCC;
    border-radius: 0.5rem;
    padding: 0.5rem 0 0.5rem 0;   
    
}

.experience--pos {
    border-bottom: solid 1px #C7CDCC;
    border-radius: 0.5rem;
}

.experience--year {
    border-bottom: solid 1px #C7CDCC;
    border-radius: 0.5rem;
}

.projects {
    grid-row: 2 / 3;
    grid-column: 1 / 3;

    overflow-y: auto;
    overflow-x: hidden;
    
    padding: 1rem;

    /* This is to put a grid... in another grid */
    display: flex;
    
    justify-items: center;

    font-family: 'Hind Guntur', sans-serif;
    color: #3A5C57;
}

.projects li {
    margin: 2rem 0;
}

.wireframe {
    display: flex;
    justify-content: center;

    padding: 0;

    width: 100vw;
    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;
}
