@import url("https://fonts.googleapis.com/css?family=Spartan|Ubuntu&display=swap");

/* 
font-family: 'Ubuntu', ;
font-family: 'Spartan', ; 
*/

/* Generic START */

* {
    text-decoration: none;
    list-style: none;
}

a {
    color: black;
    font-family: "Spartan";
}

p {
    color: black;
    font-family: "Spartan";
}

html {
    scroll-behavior: smooth;

    height: 100vh;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    overflow-x: hidden;

    justify-content: center;
    animation: rgb 10s infinite linear;
}

@keyframes rgb {
    0% {
        background-color: rgba(255, 0, 0, 0.1);
    }
    33% {
        background-color: rgba(0, 255, 0, 0.1);
    }
    66% {
        background-color: rgba(0, 0, 255, 0.1);
    }
    100% {
        background-color: rgba(255, 0, 0, 0.1);
    }
}

/* Generic END */

/* Home Button START */

#home-icon {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 90px;
    height: 90px;
    scale: 0.5;
    margin: 1rem;

    border-radius: 1rem;

    transition: 1s;

    animation: rotate 20s infinite linear;
}

#home-icon:hover {
    scale: 1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        box-shadow: inset 0 0 1rem red;
    }
    33% {
        transform: rotate(120deg);
        box-shadow: inset 0 0 1rem green;
    }
    66% {
        transform: rotate(240deg);
        box-shadow: inset 0 0 1rem blue;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: inset 0 0 1rem red;
    }
}

#home-icon p {
    font-size: 2rem;

    animation: counter-rotate 20s infinite linear;
}

@keyframes counter-rotate {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(-120deg);
    }
    66% {
        transform: rotate(-240deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

/* Home Button END */

/* Nav START */

nav {
    position: fixed;
    display: grid;

    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 1fr 50px;

    width: 100%;
    height: 150px;
    top: -125px;

    transition: 0.5s;

    z-index: 10;
}

nav:hover {
    top: 0px;
}

#home-icon-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 90px;
    height: 90px;
    scale: 0.75;

    border-radius: 1rem;

    transition: 1s;

    animation: rotate 20s infinite linear;
}

#home-icon-nav:hover {
    scale: 1;
}

#home-icon-nav p {
    font-size: 2rem;

    animation: counter-rotate 20s infinite linear;
}

.nav-links a {
    font-size: 1rem;

    margin: 0 1vw;
    padding: 0 5px;

    transition: 0.5s;
}

.nav-links a:hover {
    font-size: 1.25rem;
}

.nav-hide {
    opacity: 0;
    top: 0px;

    display: none;
}

.nav-show {
    opacity: 100%;
    top: -125px;
}

.nav-body {
    display: flex;
    flex-direction: row;

    padding: 1rem;

    justify-content: space-between;
    align-items: center;

    grid-column: 1 / -1;
    grid-row: 1 / 2;

    background: white;

    z-index: 1;
}

.nav-pointer {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 2 / 3;
    grid-row: 2 / 3;

    padding-bottom: 1rem;

    background: white;

    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0 5rem black;

    z-index: 0;
}

.nav-pointer p {
    font-family: "Ubuntu";
    color: rgb(214, 214, 214);
    user-select: none;
}

/* Nav END */

/* Background START */

.background-grid {
    position: fixed;
    display: grid;

    top: -150px;
    height: 150vh;
    width: 100%;

    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(5, 1fr);

    transform: rotate(45deg);

    z-index: -1;
}

.background-grid-1 {
    grid-column: 2 / 5;
    grid-row: 4 / -1;

    background: linear-gradient(lime, rgba(255, 255, 255, 0));

    z-index: 1;

    justify-self: center;
    animation: grid1 50s infinite ease-in-out;
}

.background-grid-2 {
    grid-column: 4 / 7;
    grid-row: 1 / 5;

    background: linear-gradient(rgb(248, 168, 47), rgba(255, 255, 255, 0));
    z-index: 0;

    justify-self: center;
    animation: grid2 52s infinite ease-in-out;
}

.background-grid-3 {
    grid-column: 6 / 8;
    grid-row: 3 / -1;

    background: linear-gradient(skyblue, rgba(255, 255, 255, 0));

    z-index: 1;

    justify-self: center;
    animation: grid1 54s infinite ease-in-out;
}

.background-grid-4 {
    grid-column: 7 / 10;
    grid-row: 4 / -1;

    background: linear-gradient(rgb(255, 136, 235), rgba(255, 255, 255, 0));
    z-index: 1;

    justify-self: center;
    animation: grid2 56s infinite ease-in-out;
}

.background-grid-5 {
    grid-column: 9 / 11;
    grid-row: 2 / -2;

    background: linear-gradient(rgb(209, 252, 54), rgba(255, 255, 255, 0));
    z-index: 0;

    justify-self: center;
    animation: grid1 58s infinite ease-in-out;
}

@keyframes grid1 {
    0% {
        width: 90%;
        height: 100%;
        margin-top: -5rem;
    }
    50% {
        width: 100%;
        height: 50%;
        margin-top: 5rem;
    }
    100% {
        width: 90%;
        height: 100%;
        margin-top: -5rem;
    }
}

@keyframes grid2 {
    0% {
        width: 100%;
        height: 50%;
        margin-top: 5rem;
    }
    50% {
        width: 90%;
        height: 100%;
        margin-top: -5rem;
    }
    100% {
        width: 100%;
        height: 50%;
        margin-top: 5rem;
    }
}

/* Background END */

@media only screen and (max-width: 500px) {
    .nav-links a {
        font-size: 1.45rem;

        margin: 0 1vw;
        padding: 5px 10px 5px 10px;

        transition: 0.5s;
    }

    .nav-links a:hover {
        font-size: 1.45rem;
    }
}
