@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Nunito&display=swap');

/*


    font-family: 'Libre Baskerville', serif;

    font-family: 'Nunito', sans-serif;


*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.grid {
    width: 45ch;
    box-shadow: 0.4rem 0.4rem 0.5rem rgb(219, 219, 219);
    background: #eee;
    

    display: grid;
    justify-items: center;
    grid-template-rows: 5rem 10rem 1fr auto;
}

#jane-doe{
    width:10rem;
    height:10rem;
    object-fit:cover;
    border-radius:50%;
    border: solid 0.5rem #eee;
}

#river {
    display: flex;

    height: 10rem;
    object-fit:cover;
    width: 45ch;
}

.lorem {
    display: block;
    text-align: center;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    padding-top: 1rem;
    font-size: 1.25rem;
}

p {
    font-family: 'Nunito', sans-serif;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #ccc;
}

.social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1rem;
    width: 45ch;
}

.social-media {
    fill: navy;
    width: 2.5rem;
    height: 2.5rem;
}