/* Text scrolling inspiration: https://dev.to/christopherkade/developing-the-star-wars-opening-crawl-in-htmlcss-2j9e */
/* Background: https://wallpapersafari.com/w/ZBf0Im */

html {
    background-image: url(assets/Background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow-x: hidden;
}

.index {
    margin-top: 80px;
    padding: 0.5rem 0 0 0;
}

.intro {
    transform: perspective(750px) rotateX(30deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    font-size: 5vw;
    height: 750rem;
    width: 18em;
    bottom: 0;
    left: 50%;
}

.intro p {
    animation: scroll 450s linear 0s;
    position: relative;
    color: rgb(255, 217, 0);
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}
