.planet-hero {
    background-image: url(assets/alderaan.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.planet-hero h1 {
    color: rgb(75, 213, 238);
    font-size: 3rem;

    width: 50rem;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        black,
        black,
        black,
        black,
        black,
        black,
        black,
        black,
        black,
        black,
        rgba(0, 0, 0, 0)
    );
    padding-bottom: 7px;
}

#planets {
    background-image: linear-gradient(
        to right,
        rgb(75, 213, 238),
        rgba(255, 255, 255, 0.5)
    );

    padding: 1rem;
    margin: 1rem 5rem;

    text-shadow: 1px 1px 0 white;
    font-weight: bold;

    opacity: 25%;

    transition: 0.25s ease-in;
    border-radius: 1rem;
    border: solid 5px rgb(0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 128, 0, 0);
    justify-self: center;
}

#planets:hover {
    margin: 1rem 2.5rem;
    opacity: 100%;
    border: solid 5px rgb(233, 254, 255);
    box-shadow: 0 0 2.5rem rgb(102, 250, 255);
}

#planet-list h1 {
    font-size: 2rem;
    padding: 1rem;
    margin: 0;
}

#planet-list h2 {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0;
}

#planet-list li {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1.25rem;
}
