@import url('https://fonts.googleapis.com/css?family=Monoton|Sulphur+Point&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');


/*
font-family: 'Monoton', cursive, sans-serif;
font-family: 'Sulphur Point', sans-serif;
font-family: 'Fugaz One', cursive;
*/


html {
    background-image: url('../assets/Background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

div {
    display: flex;
    justify-content: center;
}

li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Sulphur Point', sans-serif;
    text-shadow:1px 1px rgb(255, 229, 112);
    font-size: 2rem;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 0 20px 20px;
    padding: 0;
    background-image: linear-gradient(rgba(255, 255, 0, 0), rgba(255, 196, 0, 0.726));
    margin-top: 0;
}

#header__div__logo {
    max-height: 12vh;
    cursor: pointer;
    padding: 0.5rem;
}

.header__nav__top--yellow {
    text-align: center;
}

.header__nav__top--yellow li {
    display: inline-flex;
    padding: 0 1rem;
    margin: 10px 25px;
    border-radius: 15px;
    height: fit-content;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 0, 0), rgba(222, 115, 255, 0.726));
}

.header__nav__top--yellow li:hover {
    background-image: linear-gradient(rgba(255, 255, 0, 0), rgb(214, 78, 255));
}

.header__nav__top--yellow {
    padding-left: 0;
}

.heading--neon h1{
    color: rgb(0, 0, 0);
    text-shadow:2px 2px rgb(244, 159, 255);
    font-family: 'Fugaz One', cursive;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 8vw;
    font-weight: 500;
}

.intro--neon {
    display: inline-flex;
    margin: .5rem;
    padding: 0;
    background-image: linear-gradient(rgba(255, 255, 0, 0), rgba(240, 128, 206, 0.726));
    border-radius: 20px;
    justify-content: space-evenly;
    max-width: 90%;
}

.intro--neon ul {
    text-decoration: none;
    padding: 0;
    text-align: center;
    text-align: middle;
}

.intro--neon ul li{
    display: inline-flex;
    color: rgb(252, 221, 255);
    text-shadow:2px 2px rgb(0, 0, 0);
    font-size: 2rem;
    padding: 0.5rem;
    vertical-align: middle;
    max-width: 60%;
    border-radius: 30px;
    font-family: 'Sulphur Point', sans-serif;
}

#section__san-francisco {
    border-radius: 20px;
    max-height: 45vh;
}

.call-to-action {
    justify-content: center;
    display: flex;
}

button {
    margin: 10px 15px;
    border-radius: 15px;
    height: fit-content;
    cursor: pointer;
    background-image: linear-gradient(rgba(255, 0, 212, 0.397), rgb(150, 0, 196));
    background-color: rgb(255, 246, 119);
    text-shadow:2px 2px pink;
    font-size: 2rem;
    vertical-align: middle;
    border: none;
    padding: 0.5rem;
}

button:hover {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(233, 162, 255));
    color: pink;
    text-shadow:2px 2px rgb(0, 0, 0);
}