iframe {
    border-radius: 1rem;
    padding: 0;
    border: none;

    width: 100%;
    height: 100%;

    justify-self: center;

    margin: 1rem;
}   

@media screen and (max-width: 1600px) {
    iframe {
        height: 850px;
    }
  }

@media screen and (max-width: 1400px) {
    iframe {
        height: 760px;
    }
  }

@media screen and (max-width: 1200px) {
    iframe {
        height: 650px;
    }
  }

@media screen and (max-width: 1000px) {
    iframe {
        height: 550px;
    }
  }

@media screen and (max-width: 800px) {
    iframe {
        height: 450px;
    }
  }

@media screen and (max-width: 600px) {
    iframe {
        height: 325px;
    }
  }